<html>
  <body>
    <section data-sw-nav="Part 3 - encoding (response bodies)" id="tut-part-3" data-sw-search-content>
      <div class="page-header">
        <h2>Part 3 - Encoding</h2>
      </div>
      <p class="lead">Response bodies</p>

      <pre class="prettyprint">
{
  :includes ["defaults.edn"]

  :title "Tutorial 3"

  "tutorial-3" {
    "play/${stateId}" {
      :get {
        :doc
"
A single player REST adventure world

A simple text adventure world for one player.

Sample usage may be something like `/tutorial-3/play/cave`, indicating the player
is in a cave.
"
        :vars {
          "stateId" {:type :Int :doc "ID for the state of the game"}
        }
        :rsp {
          :200 {
            :body-examples ["public/tutorial/3/200-ref.json"]
          }
          :503 {
            :headers {"Content-Type" "application/problem+json" "Content-Language" "en"}
            :body-examples ["public/tutorial/3/lazy-server-gremlins.json"]
          }
        }
      }
    }
  }
}
      </pre>

      <h3><span class="glyphicon glyphicon-info-sign" /> Explanation</h3>
      <p>We now add some new concepts to the previous codex definition :</p>
      <ul>
        <li>a response body for a 200 (OK) response</li>
        <li>swap the 404 response for a 503 and add a response header</li>
      </ul>
      <p>
        Where it is possible for a response to have a body it is good practice to include a reference
        example in the codex.  It is entirely possible that an error response, like the 503 defined in this
        example could have a completely different body
      </p>


      <h3><span class="glyphicon glyphicon-play" /> Run it</h3>
      <p>Create your apidocs again.</p>
      <ol>
        <li>
          copy <code>tutorial-3.cod.edn</code> from <code>public/tutorial</code> to your codex directory
        </li>
        <li>
          enter <code><kbd>protean doc -f tutorial-3.cod.edn</kbd></code>
        </li>
        <li>
          open the <code>index.html</code> file created in <code>silk_templates/site</code>
        </li>
      </ol>
    </section>
  </body>
</html>
