<html>
  <body>
    <section data-sw-nav="Part 4 - simulation (basics)" id="tut-part-4" data-sw-search-content>
      <div class="page-header">
        <h2>Part 4 - Simulation</h2>
      </div>
      <p class="lead">The basics</p>

      <h3><span class="glyphicon glyphicon-info-sign" /> Explanation</h3>
      <p>You do not need to do anything to get a basic simulation for free.  It has always been available.</p>

      <h3><span class="glyphicon glyphicon-play" /> Run it</h3>
      <p>Run the simulation, using the tutorial-3 codex which you have already copied into your codex directory.</p>
      <ol>
        <li>
          run <code><kbd>protean-server</kbd></code>
        </li>
        <li>
          run <code><kbd>protean services</kbd></code>
        </li>
        <li>
          run <code><kbd>protean service-usage -n tutorial-3</kbd></code>
        </li>
        <li>
          select the curl statement generated as output of the previous step and execute it
        </li>
      </ol>
      <p>
        You should see output like :
      </p>

      <pre class="prettyprint">
{
  "description": "You are in a cave, it is very dark"
}
      </pre>
    </section>
  </body>
</html>
