<html>
<body>
  <section data-sw-nav="Part 6 - simulation (responses)" id="tut-part-6" data-sw-content>
    <div class="page-header">
      <h2>Part 6 - Simulation</h2>
    </div>
    <p class="lead">Simulating dynamic responses</p>

    <pre class="prettyprint">
{
  :includes ["defaults.edn"]

  :title "Tutorial 6"

  "tutorial-6" {
    "play/${stateId}" {
      :types {
        :StateId "(cave|forest)"
      }
      :get {
        :doc "A single player REST adventure world"
        :description
        "A simple text adventure world for one player.

        Sample usage may be something like /tutorial-6/play/cave, indicating the player
        is in a cave."
        :vars {
          "stateId" {:type :StateId :doc "ID for the state of the game"}
        }
        :rsp {
          :200 {
            :doc "OK"
            :body-example "test-data/content/tutorial/tutorial-3/200-ref.json"
          }
          :404 {:doc "Not Found"}
        }
      }
    }
  }
}
    </pre>

    <p>
      Now the sim extension.
    </p>

    <pre class="prettyprint">
(refer 'protean.core.transformation.sim)

(defn param2rsp [{:keys [route-params]} data-path]
  (if-let [rsp (rsp-body data-path (path-param route-params) ".json")]
    (slurp rsp)
    {:status 404}))

{
  "tutorial-6" {
    "play/${stateId}" {
      :get [
      (fn [] (param2rsp *request* "public/tutorial/6"))
      ]
    }
  }
}
    </pre>


    <h3><span class="glyphicon glyphicon-info-sign" /> Explanation</h3>
    <p>
      In the codex above we have converged on a slightly more realistic example.
      Our endpoint includes a path parameter, and we are now provisioning for cases
      where the resource requested does not exist.
    </p>
    <p>
      We have created a custom type for our path parameter, indicating that its value can
      be either 'cave' or 'forest'.
    </p>
    <p>
      In our sim extension we now look up a response body based on the value of the path parameter.
      We provide two nonsense responses in json files.
    </p>

    <h3><span class="glyphicon glyphicon-play" /> Run it</h3>
    <p>Run the simulation.</p>
    <ol>
      <li>
        copy <code>tutorial-6.cod.edn</code> and <code>tutorial-6.sim.edn</code> from <code>public/tutorial</code> to your codex directory
      </li>
      <li>
        run <code><kbd>protean-server</kbd></code>
      </li>
      <li>
        run <code><kbd>protean services</kbd></code>
      </li>
      <li>
        run <code><kbd>protean service-usage -n tutorial-6</kbd></code>
      </li>
      <li>
        select the curl statement generated as output of the previous step, ensure the path parameter is either cave or forest and execute it
      </li>
    </ol>
    <p>
      You should see output like :
    </p>

    <pre class="prettyprint">
{
  "description": "You are in a cave, it is very dark"
}
    </pre>
  </section>
</body>
</html>
