<html>
<body data-sw-nav="API Documentation" data-sw-priority="5">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div data-sw-component="menu" data-sw-source="sw/bookmarks/api-documentation" data-sw-sort="priority">
        Placeholder for menu
      </div>
    </div>
    <div class="col-lg-9 col-md-8" role="main">
      <div class="page-header">
        <h1>API Documentation</h1>
      </div>

      <h2>Simulation API</h2>
      <p class="lead">
        The simulation API is a stable protected set of functionality and comprises low level composable units of functionality.
      </p>

      <section data-sw-nav="Simulation Request API" id="sim-request" data-sw-content>
        <div class="page-header">
          <h3>Request API</h3>
        </div>
        <p class="lead">Extracting information out of simulation requests</p>
        <ul class="list-unstyled">
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(query-param "my-param")</span>
              </div>
              <div class="panel-body">Get a specified query parameter out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">p</td>
                    <td width="50%">specific parameter</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(path-param "my-param")</span>
              </div>
              <div class="panel-body">Get a specified path parameter out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">p</td>
                    <td width="50%">specific parameter</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(param :my-param)</span>
              </div>
              <div class="panel-body">Get a specified parameter out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">p</td>
                    <td width="50%">specific parameter</td>
                    <td width="30%">keyword</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(form-param "my-param")</span>
              </div>
              <div class="panel-body">Get a specified form parameter out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">p</td>
                    <td width="50%">specific parameter</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(body-param "my-param")</span>
              </div>
              <div class="panel-body">Get a specified body parameter out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">p</td>
                    <td width="50%">specific parameter</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(route-param route-params)</span>
              </div>
              <div class="panel-body">Get the last route parameter out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">route-params</td>
                    <td width="50%">route params datastructure</td>
                    <td width="30%">map</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(header "my-header")</span>
              </div>
              <div class="panel-body">Get a specified header out of the sim request</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">h</td>
                    <td width="50%">specific header</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(valid-inputs?)</span>
              </div>
              <div class="panel-body">Check if request is well formed according to codex specification.  Used with an <code>if</code> or <code>when</code> form.</div>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(validate (respond 200))</span>
              </div>
              <div class="panel-body">Same sa <code>valid-inputs?</code> but creates a 400 error where validation fails.</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">response</td>
                    <td width="50%">a bespoke sim ext response structure</td>
                    <td width="30%">Composite response form</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </section>

      <section data-sw-nav="Simulation Response API" id="sim-response" data-sw-content>
        <div class="page-header">
          <h3>Response API</h3>
        </div>
        <p class="lead">Forming synchronous simulation responses</p>

        <p>
          The most flexible (and low level) way to create responses in a sim extension is to create Ring responses.
          An example is listed below.
        </p>

        <pre class="prettyprint">
{
  :status 200
  :headers {"Content-Type" "application/json"}
  :body "json string"
}
        </pre>

        <p>
          Or an example of reading a file to specify the body content:
        </p>

        <pre class="prettyprint">
{
  :status 200
  :headers {"Content-Type" "application/json"}
  :body (slurp "path/file.json")
}
        </pre>

        <ul class="list-unstyled doc-list">
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(success)</span>
              </div>
              <div class="panel-body">Gets a random success response for this endpoint from the codex</div>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(error)</span>
              </div>
              <div class="panel-body">Gets a random error response for this endpoint from the codex</div>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(error 500)</span>
              </div>
              <div class="panel-body">Gets a specified error response for this endpoint from the codex</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific error status code</td>
                    <td width="30%">Int</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(respond 200)</span>
              </div>
              <div class="panel-body">Create a response with a specific status header</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific status code</td>
                    <td width="30%">Int</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(respond 200 :body-url "my-file.json")</span>
              </div>
              <div class="panel-body">Create a response with a specific status header and body.  Content type is inferred from file extension.</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific status code</td>
                    <td width="30%">Int</td>
                  </tr>
                  <tr>
                    <td width="20%">body-url</td>
                    <td width="50%">path to file</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(qslurp "my-file.json")</span>
              </div>
              <div class="panel-body">Read a supporting resource, converting relative path to absolute.</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">path</td>
                    <td width="50%">path to resource (passed as relative in sim ext).</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </section>

      <section data-sw-nav="Simulation Payload Transport API" id="sim-payload-transport" data-sw-content>
        <div class="page-header">
          <h3>Payload Transport API</h3>
        </div>
        <p class="lead">Sending synchronous and asynchronous payloads over different protocols.</p>

        <p>
          We often need to send route data to different destinations synchronously and asynhronously
          as a result of receiving a request.  We provide one low level API mechanism for doing this
          and several abstractions over this in the sim library.
        </p>

        <ul class="list-unstyled doc-list">
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(make-request :put "http://host:port/path" {:content-type "application/json"  :body "something"})</span>
              </div>
              <div class="panel-body">Sends a specified payload with a specified method to a given url</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">method</td>
                    <td width="50%">HTTP method</td>
                    <td width="30%">keyword</td>
                  </tr>
                  <tr>
                    <td width="20%">url</td>
                    <td width="50%">fully qualified url</td>
                    <td width="30%">String</td>
                  </tr>
                  <tr>
                    <td width="20%">payload</td>
                    <td width="50%">datastructure defining headers etc</td>
                    <td width="30%">map</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </section>

      <h2>Simulation Utility Library</h2>
      <p class="lead">
        The simulation utility library is a set of utility functions built on top of the API.  This functionality is intended
        as an example for you to build your own functionality.  Library utilities provided out of the box are in <code>protean-utils.sim.edn</code>
        in the codex/sim extension directory.
      </p>

      <section data-sw-nav="Response Library" id="library-response" data-sw-content>
        <div class="page-header">
          <h3>Response Example Library</h3>
        </div>
        <p class="lead">Forming synchronous simulation responses</p>
        <ul class="list-unstyled doc-list">
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(rsp 200)</span>
              </div>
              <div class="panel-body">Create a response with a specific status code.</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific status code</td>
                    <td width="30%">Int</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(h-rsp 200 "/items/12")</span>
              </div>
              <div class="panel-body">Create a response with a specific status code and location header.</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific status code</td>
                    <td width="30%">Int</td>
                  </tr>
                  <tr>
                    <td width="20%">hdr</td>
                    <td width="50%">location header</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(jsn 200 "my response string")</span>
              </div>
              <div class="panel-body">Create a response with a specific status header, "application/json" content type and body</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific status code</td>
                    <td width="30%">Int</td>
                  </tr>
                  <tr>
                    <td width="20%">body</td>
                    <td width="50%">body content</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(txt 200 "my response string")</span>
              </div>
              <div class="panel-body">Create a response with a specific status header, "text/plain" content type and body</div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">status</td>
                    <td width="50%">specific status code</td>
                    <td width="30%">Int</td>
                  </tr>
                  <tr>
                    <td width="20%">body</td>
                    <td width="50%">body content</td>
                    <td width="30%">String</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </section>

      <section data-sw-nav="Payload Transport Library" id="lib-payload-transport" data-sw-content>
        <div class="page-header">
          <h3>Payload Transport Example Library</h3>
        </div>

        <ul class="list-unstyled doc-list">
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(post "http://host:port/path" "something")</span>
              </div>
              <div class="panel-body">
                <p>
                  Posts a specified payload to a given uri
                </p>
                <p>
                  Assumes content type is the same as requests content type.
                </p>
                <p>
                  Optional headers parameter.
                </p>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">url</td>
                    <td width="50%">fully qualified url</td>
                    <td width="30%">String</td>
                  </tr>
                  <tr>
                    <td width="20%">hdrs</td>
                    <td width="50%">optional headers</td>
                    <td width="30%">map</td>
                  </tr>
                  <tr>
                    <td width="20%">payload</td>
                    <td width="50%">datastructure defining headers etc</td>
                    <td width="30%">map</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(put "http://host:port/path" "something")</span>
              </div>
              <div class="panel-body">
                <p>
                  Puts a specified payload to a given uri
                </p>
                <p>
                  Assumes content type is the same as requests content type.
                </p>
                <p>
                  Optional headers parameter.
                </p>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">url</td>
                    <td width="50%">fully qualified url</td>
                    <td width="30%">String</td>
                  </tr>
                  <tr>
                    <td width="20%">hdrs</td>
                    <td width="50%">optional headers</td>
                    <td width="30%">map</td>
                  </tr>
                  <tr>
                    <td width="20%">payload</td>
                    <td width="50%">datastructure defining headers etc</td>
                    <td width="30%">map</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
          <li>
            <div class="panel panel-info">
              <div class="panel-heading">
                <span class="glyphicon glyphicon-eye-open"></span><span class="function-hdr">(patch "http://host:port/path" "something")</span>
              </div>
              <div class="panel-body">
                <p>
                  Patches a specified payload to a given uri
                </p>
                <p>
                  Assumes content type is the same as requests content type.
                </p>
                <p>
                  Optional headers parameter.
                </p>
              </div>
              <table class="table">
                <thead>
                  <tr>
                    <th>Parameter</th>
                    <th>Description</th>
                    <th>Type</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td width="20%">url</td>
                    <td width="50%">fully qualified url</td>
                    <td width="30%">String</td>
                  </tr>
                  <tr>
                    <td width="20%">hdrs</td>
                    <td width="50%">optional headers</td>
                    <td width="30%">map</td>
                  </tr>
                  <tr>
                    <td width="20%">payload</td>
                    <td width="50%">datastructure defining headers etc</td>
                    <td width="30%">map</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </li>
        </ul>
      </section>
    </div>
  </div>
</body>
</html>
