<html>
  <body data-sw-nav="Community" data-sw-priority="4">
    <div id="documentation" class="container">
      <div class="page-header">
        <h1>Community</h1>
      </div>
      <p class="lead">The Protean community.</p>

      <p>
        The developers and contributors are happy to talk any ideas over.  All feedback is very welcome.
      </p>

      <p>
        If you would like to make a contribution post something to the <a href="https://github.com/passivsystems/protean/issues">issues list</a>.
      </p>

      <section id="community">
        <div class="page-header">
          <h2>The Team</h2>
        </div>

        <h3>Committers</h3>

        <ul>
          <li><a href="https://github.com/colin-passiv">Colin Fairless</a></li>
          <li><a href="https://github.com/Shnick">Nick Featch</a></li>
          <li><a href="https://github.com/rossputin">Ross McDonald</a></li>
        </ul>

        <h3>Contributors</h3>

        <ul>
          <li><a href="https://github.com/minimal">Chris McDevitt</a></li>
          <li><a href="https://github.com/ks22valluga">Kevin Stewart</a></li>
        </ul>
      </section>

    </div>
  </body>
</html>
