<html>
  <body data-sw-nav="Community" data-sw-priority="6">
    <div class="jumbotron">
      <h1>Community</h1>
      <p>
        The developers and contributors are happy to talk any ideas over.
        All feedback is very welcome.
      </p>

      <p>
        If you would like to make a contribution post something to the
        <a href="https://github.com/passivsystems/protean/issues">issues list</a>.
      </p>
    </div>

    <h2>Committers</h2>
    <ul>
      <li><a href="https://github.com/colin-passiv">Colin Fairless</a></li>
      <li><a href="https://github.com/Shnick">Nick Featch</a></li>
      <li><a href="https://github.com/rossputin">Ross McDonald</a></li>
    </ul>

    <h2>Contributors</h2>
    <ul>
      <li><a href="https://github.com/minimal">Chris McDevitt</a></li>
      <li><a href="https://github.com/ks22valluga">Kevin Stewart</a></li>
    </ul>
  </body>
</html>
