<html>
  <body data-sw-nav="Documentation" data-sw-priority="3">
    <div class="row">
      <div class="col-md-4">
        <div data-sw-component="menu" data-sw-source="sw/bookmarks/documentation" data-sw-sort="priority">
          Placeholder for menu
        </div>
      </div>
      <div class="col-md-8" role="main">
        <div class="page-header">
          <h1>Documentation</h1>
        </div>

        <section data-sw-nav="Overview" id="tut-overview" data-sw-content>
          <div class="page-header">
            <h2>Overview</h2>
          </div>
          <p class="lead">What does Protean do ?</p>

          <p>
            Protean helps you to evolve RESTful APIs.  We start by specifying an API using a codex which is an <a href="https://github.com/edn-format/edn" target="_blank">EDN</a> file with a .cod.edn extension.  There is a home for codex files which varies depending on how you installed the app.  Debian flavours of Linux use /usr/lib/protean,
while OSX uses ~/bin.

Protean ships with a sample petstore service codex, you can test the API docs creation and simulation capabilities with this.
          </p>
        </section>
      </div>
    </div>
  </body>
</html>
