<html>
  <body data-sw-nav="Documentation" data-sw-priority="3">
    <div class="jumbotron">
      <h1>Documentation</h1>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-4">
        <div data-sw-component="menu" data-sw-source="sw/bookmarks/documentation" data-sw-sort="priority">
          Placeholder for menu
        </div>
      </div>
      <div class="col-lg-9 col-md-8" role="main">
        <section data-sw-nav="Overview" id="overview" data-sw-content>
          <div class="page-header">
            <h2>Overview</h2>
          </div>
          <h3>What does Protean do ?</h3>

          <p>
            Protean is a Clojure project which supports the design and evolution of RESTful APIs.  It lets you:
          </p>
          <ul>
            <li>Specify an API</li>
            <li>Generate API documentation from the specification</li>
            <li>Run a simulation of an API - derived from the specification</li>
            <li>Run an integration test on an API - derived from the specification</li>
            <li>Hotswap API simulation behaviour on the fly over the network</li>
            <li>Autogenerate curl commands to interact with your API</li>
          </ul>
        </section>

        <section data-sw-nav="Concepts" id="concepts" data-sw-content>
          <div class="page-header">
            <h2>Concepts</h2>
          </div>
          <h3>How does Protean work ?</h3>

          <p>
            Protean includes a Server and a Client.
          </p>

          <h4>Building an API specification</h4>
          <p>
            Protean uses <a href="https://github.com/edn-format/edn" target="_blank">EDN</a> to build an API specification.  We call the specification a <span class="label label-info">Codex</span>.  A Codex is an EDN file with a <code>.cod.edn</code> extension.
          </p>
          <p>
            Protean ships with a sample Pet Store Codex and several more full featured examples and tutorials.
          </p>

          <h4>Generating API documentation</h4>
          <p>
            As soon as we have a Codex we can generate API documentation.  The Protean Client uses <a href="http://www.silkyweb.org" title="Silk Web Toolkit" target="_blank">Silk Web Toolkit</a> to build the documentation for your API.
          </p>
          <p>
            We can customise the API documentation by making changes to a directory called <span class="label label-info">silk_templates</span> which is in the same location as the Codex.
          </p>

          <h4>Running a simulation of your API</h4>
          <p>
            Once we have a Codex we can run an out of the box simulation derived from it using the Protean Server.  Drop the Codex into place and start the server up.
          </p>
          <p>
            We can customise the simulation by creating a <span class="label label-info">Sim Extension</span>.  Place the Sim Extension in the same location as the Codex.  Protean provides a comprehensive API and the full power of Clojure to let you customise your API simulation any way you want.  A Sim Extension is an EDN file with a <code>.sim.edn</code> extension.
          </p>
        </section>

        <section data-sw-nav="Commands" id="commands" data-sw-content>
          <div class="page-header">
            <h2>Commands</h2>
          </div>
          <h3>A list of commands</h3>

          <h4>Server</h4>
          <ul>
            <li><code>protean-server</code> - start the Protean Server</li>
          </ul>

          <h4>Client</h4>
          <ul>
            <li><code>protean doc -f /path/to/a-codex.cod.edn</code> - generate API documentation</li>
            <li><code>protean services</code> - list all the APIs (services)</li>
            <li><code>protean service -n an-api</code> - show API (service) configuration</li>
            <li><code>protean service-usage -n an-api</code> - show curl commands for interacting with the API</li>

          </ul>

        </section>

        <section data-sw-nav="Environment Variables" id="environment-variables" data-sw-content>
          <div class="page-header">
            <h2>Environment Variables</h2>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Default</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>PROTEAN_SIM_PORT</td>
                <td>the port for hitting sim endpoints</td>
                <td>3000</td>
              </tr>
              <tr>
                <td>PROTEAN_ADMIN_PORT</td>
                <td>the port for managing sims</td>
                <td>3001</td>
              </tr>
              <tr>
                <td>PROTEAN_CODEX_DIR</td>
                <td>the location for codex specifications</td>
                <td>N/A</td>
              </tr>
              <tr>
                <td>PROTEAN_LOG_LEVEL</td>
                <td>log level</td>
                <td>info</td>
              </tr>
            </tbody>
          </table>

        </section>
      </div>
    </div>
  </body>
</html>
