<html>
<body data-sw-nav="Getting Started" data-sw-priority="2">
  <div class="row">
    <div class="col-lg-3 col-md-4">
      <div data-sw-component="menu" data-sw-source="sw/bookmarks/getting-started">Placeholder for menu</div>
    </div>
    <div class="col-lg-9 col-md-8" role="main">
      <section data-sw-nav="Installing" id="installing" data-sw-content>
        <div class="page-header">
          <h2>Installing</h2>
        </div>

        <h3>Docker</h3>
        <p>
          If you would like to try Protean out and are a Docker fan
          : <a href="https://hub.docker.com/r/rossputin/protean-example/" target="_blank">Docker Hub</a>
        </p>

        <h3>Linux</h3>
        <p>
          There is a tried and tested .deb for Debian/Ubuntu flavours of Linux at
          : https://github.com/passivsystems/protean/releases/download/0.9.0-pre.7/protean_0.9.0_all.deb
        </p>

        <h3>Mac OSX</h3>
        <p>
          For OSX we have a brogrammer script, trust us, it is safe :-)
          This will install to ~/bin and in a very impolite way spew a couple of files out in there.

          In a terminal run <code><kbd>bash <(curl -fksSL https://raw.githubusercontent.com/passivsystems/protean/develop/install/install.sh)</kbd></code>
        </p>
      </section>

      <section data-sw-nav="Starting" id="starting" data-sw-content>
        <div class="page-header">
          <h2>Sample API - The Pet Store</h2>
        </div>

        <p>
          Protean ships with a sample service/API - The Pet Store.  The instructions below
          will describe how to run it and interact with it.
        </p>
      </section>

      <section data-sw-nav="API Documentation" id="apidocs" data-sw-content>
        <div class="page-header">
          <h2>API Documentation Generation</h2>
        </div>

        <p>
          In a terminal run <code><kbd>protean doc -f /protean/home/path/petstore.cod.edn</kbd></code>.
        </p>

        <p>
          The output in the terminal will tell you how to open your docs.
        </p>
      </section>

      <section data-sw-nav="Simulation" id="simulation" data-sw-content>
        <div class="page-header">
          <h2>Simulation</h2>
        </div>

        <p>
          In a terminal run <code><kbd>protean-server</kbd></code>.  This will start the sim server.
          You will see some output when you run this startup command, including information on where service/API definitions live.
        </p>

        <p>
          Protean ships with a sample 'petstore' service for you to experiment with.  See <code>sample-petstore.cod.edn</code>
          in the 'codex' directory which is listed in the output when you run the startup command.
        </p>

        <p>
          You can use a command line interface CLI to play with Protean.  In a terminal run <code><kbd>protean</kbd></code>
          to get some help with things.
        </p>

        <ul>
          <li>
            Run <code><kbd>protean services</kbd></code> to list all services.
          </li>
          <li>
            Run <code><kbd>protean service-usage -n petstore</kbd></code> to get a list of curl commands you can hit the service with.
          </li>
        </ul>

      </section>

      <section data-sw-nav="Integration Testing" id="integration-testing" data-sw-content>
        <div class="page-header">
          <h2>Integration Testing</h2>
        </div>

        <p>
          It is possible to integration test your simulations in a fairly simplistic manner.  You do not need to write any code to do this.
        </p>

        <p>
          In a terminal run <code><kbd>protean test -f /path/to/myservice.cod.edn</kbd></code>.
        </p>

      </section>
    </div>
  </div>
</body>
</html>
