<html>
<body data-sw-nav="Getting Started" data-sw-priority="2">
  <div class="row">
    <div class="col-md-4">
      <div data-sw-component="menu" data-sw-source="sw/bookmarks/getting-started">Placeholder for menu</div>
    </div>
    <div class="col-md-8" role="main">
      <section data-sw-nav="Installing" id="installing" data-sw-content>
        <div class="page-header">
          <h2>Installing</h2>
        </div>

        <h3>Linux</h3>
        <p>
          There is a tried and tested .deb for Debian/Ubuntu flavours of Linux at
          : https://github.com/passivsystems/protean/releases/download/0.9.0-pre.7/protean_0.9.0_all.deb
        </p>

        <h3>Mac OSX</h3>
        <p>
          For OSX we have a brogrammer script, trust us, it is safe :-)
          This will install to ~/bin and in a very impolite way spew a couple of files out in there.

          In a terminal run <code><kbd>bash <(curl -fksSL https://raw.githubusercontent.com/passivsystems/protean/develop/install/install.sh)</kbd></code>
        </p>
      </section>

      <section data-sw-nav="Starting" id="starting" data-sw-content>
        <div class="page-header">
          <h2>Starting</h2>
        </div>

        <p>
          In a terminal run <code><kbd>protean-server</kbd></code>.  This will start the sim server.
          You will see some output when you run this startup command, including information on where service definitions live.
        </p>

        <p>
          There are several configuration possibilities via environment variable:
        </p>

        <ul>
          <li>PROTEAN_SIM_PORT - the port for hitting sim endpoints (default 3000)</li>
          <li>PROTEAN_ADMIN_PORT - the port for managing sims (default 3001)</li>
          <li>PROTEAN_CODEX_DIR - the location for codex specifications (listed when you start the sim server)</li>
          <li>PROTEAN_LOG_LEVEL - (default info)</li>
        </ul>
      </section>

      <section data-sw-nav="Simulation" id="simulation" data-sw-content>
        <div class="page-header">
          <h2>Simulation</h2>
        </div>

        <p>
          Protean ships with a sample 'petstore' service for you to experiment with.  See <code>sample-petstore.cod.edn</code>
          in the 'codex' directory which is listed in the output when you run the startup command.
        </p>

        <p>
          You can use a command line interface CLI to play with Protean.  In a terminal run <code><kbd>protean</kbd></code>
          to get some help with things.
        </p>

        <ul>
          <li>
            Run <code><kbd>protean services</kbd></code> to list all services.
          </li>
          <li>
            Run <code><kbd>protean service-usage -n petstore</kbd></code> to get a list of curl commands you can hit the service with.
          </li>
          <li>
            Add your own service to Protean by running <code><kbd>protean add-services -f myservice.cod.edn</kbd></code>.
          </li>
        </ul>

      </section>
    </div>
  </div>
</body>
</html>
