<html>
  <body data-sw-nav="Tutorial" data-sw-priority="3">
    <div class="row">
      <div class="col-md-4">
        <div data-sw-component="menu" data-sw-source="sw/bookmarks/tutorial" data-sw-sort="priority">
          Placeholder for menu
        </div>
      </div>
      <div class="col-md-8" role="main">
        <div class="page-header">
          <h1>Tutorial</h1>
        </div>

        <section data-sw-nav="Overview" id="tut-overview" data-sw-content>
          <div class="page-header">
            <h2>Overview</h2>
          </div>
          <p class="lead">A progressive tutorial</p>

          <p>
            This is a progressive tutorial designed to gradually demonstrate the main features of Protean.
            It is aimed to be fun so each part will follow on from the previous, the aim being to build an
            online text adventure game driven by a RESTful API for exploring it, and building it.
          </p>
        </section>

        <div data-sw-component="tutorial/1">tutorial 1 placeholder</div>

        <div data-sw-component="tutorial/2">tutorial 2 placeholder</div>

        <div data-sw-component="tutorial/3">tutorial 3 placeholder</div>

        <div data-sw-component="tutorial/4">tutorial 4 placeholder</div>

        <div data-sw-component="tutorial/5">tutorial 5 placeholder</div>

        <div data-sw-component="tutorial/6">tutorial 6 placeholder</div>
      </div>
    </div>
  </body>
</html>
